footer {
    background: #03050F;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    .footer__logo {

        @media (max-width:575px) {
            text-align: center;
            margin-bottom: 30px;
        }

        img {
            width: 85.39px;
            height: 42px;
        }
    }

    .footer__info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;

        @media (max-width:575px) {
            justify-content: center;
        }

        p {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.2px;
            text-align: right;
            margin: 0;
            color: #fff;
        }
    }

}